.layout-container {
  display: flex;
  height: auto;
}

.layout-container .container-item {
  padding: 10px;
}

.layout-container .left {
  width: 15%;
  height: 77vh;
  background-color: #ffffff;
  margin-right: 5px;
  overflow: scroll;
}

.layout-container .right {
  width: 85%;
  height: 77vh;
  background-color: #ffffff;
  margin-left: 5px;
  overflow: scroll;
}

.my-modal-container {
  padding: 1rem;
}

.my-modal-container .my-modal-content {
  height: 400px;
  overflow: scroll;
  margin-top: 1rem;
}

