$height-item: 92vh;
$height-title: 7vh;

$color-btc: #e0212a;
$color-btb: #01a512;

$color-black: #424242;
$color-black2: #212121;
$color-white: #e0e0e0;
$color-white2: #ffffff;

$color-blue: #4039a2;
