.hide {
  display: none;
}

.uic-wrapper {
  /*height: 200px;*/
  /*width: 300px;*/
  /*position: fixed;*/
  height: auto;
  position: relative;
  /*top: 50%;*/
  left: 50%;
  /*transform: translate(-50%, -50%);*/
  transform: translate(-50%, 0);
  perspective: 500px;
  perspective-origin: 50% -30%;
}

.uic-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.uic-wrapper ul li {
  /*margin: 0;*/
  /*padding: 0;*/
  /*height: 100%;*/
  /*width: 100%;*/
  /*position: absolute;*/
  position: relative;
  /*top: 0;*/
  /*left: 0;*/
  transition: all 0.3s;
}

.uic-wrapper ul li .cards-wrapper .card-front {
  position: relative;
  z-index: 3;
  /*box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.19);*/
  border: none;
}

.uic-wrapper ul li .cards-wrapper .card-middle {
  z-index: 2;
  display: none;
}

.uic-wrapper ul li .cards-wrapper .card-back {
  z-index: 1;
}

.uic-wrapper ul li .cards-wrapper .card-out {
  z-index: 0;
  opacity: 0;
}

.uic-wrapper nav {
  position: relative;
  z-index: 4;
}

.uic-wrapper nav a,
.uic-wrapper nav button {
  color: #ffb902;
}

.uic-wrapper nav .btn-back {
  font-size: 28px;
  position: fixed;
  /*top: 20px;*/
  /*left: 20px;*/
  top: -30px;
  left: 0;
  transition: all 0.3s ease;
  background: none;
  outline: none;
  border: 0;
}

.uic-wrapper nav .btn-back:active {
  transform: scale(0.96);
}

.uic-wrapper nav .btn-back.back-btn-hide {
  margin-top: -30px;
  opacity: 0;
}

.uic-wrapper nav .btn-finish,
.uic-wrapper nav .btn-next {
  /*position: absolute;*/
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  /*background-color: #66bf65;*/
  color: white;
  text-align: center;
  border-radius: 0;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.uic-wrapper nav .btn-finish:active,
.uic-wrapper nav .btn-next:active {
  transform: scale(0.96);
}

.uic-wrapper .card {
  background-color: #fff;
  border-radius: 0;
  height: 100%;
  width: 100%;
  padding: 30px 0px 40px 0px;
  transition: all 0.6s cubic-bezier(0.51, 0.02, 0.01, 0.88);
  /*border-radius: 8px;*/
  border: none;
}

.uic-wrapper .noBack {
  /*padding: 20px;*/
  padding: 0 0 40px 0;
}

.uic-wrapper .toRight {
  transform: translate3d(0, 0, 100px);
  opacity: 0;
  display: none;
}

.uic-wrapper .toLeft {
  transform: none;
  opacity: 1;
}

.uic-wrapper:hover .card-middle {
  transform: translate3d(0, 0, -60px);
  opacity: .8;
}

.uic-wrapper:hover .card-back {
  transform: translate3d(0, 0, -120px);
  opacity: .4;
}

/* SWITCH RADIO BUTTON CUSTOM*/
.switch-field {
  display: flex;
  overflow: hidden;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  transition: all 0.1s ease-in-out;
  width: 100%;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #000000;
  box-shadow: none;
  color: #fff;
}

/*.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}*/